[Unit]
After=network-online.target

[Mount]
Type=nfs
What=hpcc.pipeline.net.:/
Where=/mnt/cache
Options=hard,proto=tcp,mountproto=tcp,retry=30

[Install]
WantedBy=multi-user.target
