[Unit]
After=network-online.target

[Mount]
Type=nfs
What=usaeast.blob.core.windows.net:/usaeast/show
Where=/mnt/storage/object
Options=sec=sys,vers=3,proto=tcp,nolock

[Install]
WantedBy=multi-user.target
