[Unit]
After=network-online.target

[Mount]
Type=nfs
What=hpc02.blob.core.windows.net:/hpc02/show
Where=/mnt/storage
Options=sec=sys,vers=3,proto=tcp,nolock

[Install]
WantedBy=multi-user.target
