# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will be requested for
# review when someone opens a pull request.
*       @omzevall @rebecca-makar @anhowe

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies python files, only the listed below and not the global
# owners will be requested for a review.
*.py    @omzevall @rebecca-makar

