[Unit]
Description=Open Cue Render Node
After=network.target

[Service]
User=opencue
ExecStart=/bin/opencue/rqd
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
