[Unit]
Description=Open Cue Render Hub
After=network.target

[Service]
User=opencue
ExecStart=/usr/bin/java -jar JAR_FILE --datasource.cueDataSource.url=DB_URL --datasource.cueDataSource.username=DB_USER --datasource.cueDataSource.password=DB_PASSWORD
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
