[Unit]
Description=Open Cue Bot
After=network.target

[Service]
User=cuebot
Group=opencue
ExecStart=/usr/bin/java -jar /bin/opencue/JAR_FILE --datasource.cueDataSource.url=DB_URL --datasource.cueDataSource.username=DB_USER --datasource.cueDataSource.password=DB_PASSWORD
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
