# Terraform backend configuration
resource_group_name  = "AzureRender" // Set to the resource group name from the 0.security module
storage_account_name = "azurerender" // Set to the storage account name from the 0.security module
container_name       = "terraform"   // Set to the storage container name from the 0.security module
