# Terraform backend configuration for .tfstate files
resource_group_name  = "AzureRender" // Set to the security resource group name in global variables
storage_account_name = "azrender"    // Set to the security storage account name in global variables
container_name       = "terraform"   // Set to the terraform storage container name in global variables
