####################################################################################
# Terraform Azure Resource Management (ARM) backend deployment state configuration #
# https://developer.hashicorp.com/terraform/language/settings/backends/azurerm     #
####################################################################################

resource_group_name  = "ArtistAnywhere" # Set to the same value as securityResourceGroupName in global variables.tf file
storage_account_name = "azrender0"      # Set to the same value as securityStorageAccountName in global variables.tf file
container_name       = "terraform"      # Set to the same value as terraformStorageContainerName in global variables.tf file
