# Terraform backend configuration for state file storage and management
resource_group_name  = "AzureRender" // Set to same securityResourceGroupName value in global variables.tf file
storage_account_name = "azrender"    // Set to same securityStorageAccountName value in global variables.tf file
container_name       = "terraform"   // Set to same terraformStorageContainerName value in global variables.tf file
