# Terraform backend configuration for state file storage and management
resource_group_name  = "ArtistAnywhere" // Set to same value as securityResourceGroupName in global variables.tf file
storage_account_name = "azrender0"      // Set to same value as securityStorageAccountName in global variables.tf file
container_name       = "terraform"      // Set to same value as terraformStorageContainerName global variables.tf file
