################################################################################
# Terraform Azure Resource Manager (ARM) backend state storage configuration   #
# https://developer.hashicorp.com/terraform/language/settings/backends/azurerm #
################################################################################

resource_group_name  = "ArtistAnywhere" # Set to the same value as resourceGroupName in variables.tf file
storage_account_name = "azstudio0"      # Set to the same value as rootStorage.accountName in variables.tf file
container_name       = "terraform"      # Set to the same value as rootStorage.containerName in variables.tf file
