[Unit]
Description=EDA Simulator OnPremJobUploader
ConditionPathExists=/usr/local/bin/onpremjobuploader
After=network.target
 
[Service]
Type=simple
User=USERREPLACE
Group=GROUPREPLACE
LimitNOFILE=16384

Restart=always
RestartSec=2

EnvironmentFile=/etc/default/edasim
ExecStart=/usr/local/bin/onpremjobuploader -uniqueName=UNIQUENAMEREPLACE -mountPathsCSV=WORKDIRSCSVREPLACE

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/edasim
ExecStartPre=/bin/chown syslog:adm /var/log/edasim
ExecStartPre=/bin/chmod 755 /var/log/edasim
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=onpremjobuploader
 
[Install]
WantedBy=multi-user.target